
.menu-dropbtn {
/*    background-color: #4CAF50;  */
    background-color:  #5080AF;
    color    : white;
    padding  : 16px;
    font-size: 16px;
    border   : none;
    cursor   : pointer;
}

.menu-dropbtn:hover, .menu-dropbtn:focus {
    background-color: #3e8e41;
}

.menu-dropdown {
    position: relative;
    display : inline-block;
    z-index : 1;
}

.menu-dropdown-content {
    display    : none;
    position   : absolute;
    background-color: #f9f9f9;
    min-width  : 160px;
/*   max-height : 160px;  */
    overflow   : auto;
    box-shadow : 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu-dropdown-content a {
    color  : black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.menu-dropdown a:hover {background-color: #f1f1f1}

.menu-show {display:block;}



.dropdown-overflow {
  white-space : nowrap;
  max-height  : 200px;
}
