<div style="width:500px">
Dear $userName,
<p>
Your $appName account:<p>
$appName URL: <b>$appURL</b><br>
Login name: <b>$userLogin</b><br>
Password: <b>*****</b><br>
E-mail: <b>$userEMail</b>
<p>
and all associated data have been deleted by $appName Admin.
<p>
This e-mail is sent only for your information. Should you have any
relevant questions, please feel free to contact us via e-mail address
given at the end of this letter.
<p>
Please do not reply to this e-mail, because it was sent from
unmanned mailbox.
<p>
Sincerely yours,
<p>
$appName management.<br>
$maintainerEmail
</div>
