<div style="width:500px">
Dear $userName,
<p>
Your $appName account:<p>
$appName URL: <b>$appURL</b><br>
Login name: <b>$userLogin</b><br>
Password: <b>*****</b><br>
E-mail: <b>$userEMail</b>
<p>
and all associated data have been deleted per your request.
<p>
This e-mail is sent only for your information. Your data cannot be
restored. If account delete request was not initiated by you, please
contact $appName team at $maintainerEmail.
<p>
Please do not reply to this e-mail, because it was sent from
unmanned mailbox.
<p>
Sincerely yours,
<p>
$appName management.<br>
$maintainerEmail
</div>
