<div style="width:500px">
Dear $userName,
<p>
Your $appName account was automatically top-up with disk space as below:
<p>
$appName URL: <b>$appURL</b><br>
Login name: <b>$userLogin</b><br>
Disk space allocation: <b>$new_allocation</b> MBytes
<p>
This action was performed because you have reached your current disk space
limit and additional allocation was found possible. Note that this is not
always the case, and your disk allocation may not be automatically upgraded
in future. Additional disk space may be requested by writing to $maintainerEmail .
<p>
Please do not reply to this e-mail, because it was sent from
unmanned mailbox.
<p>
Have a nice day.
<p>
Technical questions and bug reports: $maintainerEmail .
</div>
