<div style="width:500px">
Dear $userName,
<p>
Your $appName job has finished:
<p>
$appName URL: <b>$appURL</b><br>
Login name: <b>$userLogin</b><br>
Project ID: <b>$project_id</b><br>
Job ID: <b>$job_id</b><br>
Job title: <b>$job_title</b><br>
Job duration: <b>$job_time</b> hours
<p>
Please do not reply to this e-mail, because it was sent from
unmanned mailbox. Job notifications may be switched on/off and
customized in your $appName account settings
(found in <i>My Account</i> page).
<p>
Have a nice day.
<p>
Technical questions and bug reports: $maintainerEmail .
</div>
