<div style="width:500px">
Dear $userName,

<p>
Thank you for your request regarding recovery of your login details for $appName
instance at $appURL.

<p>
$text1
Please use these data to login in $appName services next time. You may change
your password(s) in <i>"My Account"</i> section, accessible from <i>Main Menu</i>,
once you are logged in.

<p>
<b>CHECK OUT</b>
<i>$appName</i> <a href="$app_url/html/roadmap.html">roadmap</a>
for structure solution hints and video tutorials.

<p>
Please do not reply to this e-mail, because it was sent from
unmanned mailbox.

<p>
Sincerely yours,
<p>
$appName management.<br>
$maintainerEmail
</div>
