<div style="width:500px">
Dear $userName,
<p>
You receive this e-mail because you own $appName account (login name
<b>$userLogin</b>), accessible at $appURL.
<p>
Our records show that $reason, which indicates a very low use rate
of your account.
Therefore, in order to optimally allocate resources between all
$appName users, <b>your account is now deemed dormant</b>.
<p>
What this means for you:
<ul>
  <li>you can login as before</li>
  <li>you can browse your projects and jobs</li>
  <li>you can export all your data, job directories and projects</li>
  <li>you can delete your account, jobs and projects</li>
  <li>you <b>cannot run</b> new jobs</li>
  <li>you <b>cannot create</b> new projects</li>
  <li>you <b>cannot import</b> projects</li>
</ul>
Your account may be reverted back to active state if we receive the
corresponding request from you via e-mail (please use the <i>"Send
message option"</i> from your <i>"My Account"</i> page or e-mail address
shown in the end of this letter). Unless we receive such request, <b>your
account may be eventually deleted</b>. We will usually await your response
within 180 days, however, we may have to delete your account earlier if we
experience severe shortage of resources.
<p>
Therefore, we strongly advise you to export all your projects if you do not
plan to actively use $appName in near future. Exported projects may be kept
in your own computer just like ordinary files, one file per project. You may
re-import your projects back in $appName at any time later, provided that your
account is active. Please do not hesitate to write to us if you experience
difficulties with exporting or importing projects.
<p>
Please do not reply to this e-mail, because it was sent automatically
from unmanned mailbox.
<p>
Sincerely yours,
<p>
$appName management.<br>
$maintainerEmail
</div>
