<div style="width:500px">
Dear $userName,

<p>
Password for your $appName account:<p>
$appName URL: <b>$appURL</b><br>
Login name: <b>$userLogin</b><br>
E-mail: <b>$userEMail</b>

<p>
was reset by Admin as: <b>$text1</b>

<p>
Please use this password to login in $appName next time. When you log in,
change your password in the <i>"My Account"</i> section, accessible from the
<i>Main Menu</i> found in the top-left corner of the page.

<p>
<b>CHECK OUT</b>
<i>$appName</i> <a href="$app_url/html/roadmap.html">roadmap</a>
for structure solution hints and video tutorials.

<p>
Please do not reply to this e-mail, because it was sent from
unmanned mailbox.

<p>
Sincerely yours,
<p>
$appName management.<br>
$maintainerEmail
</div>
