<div style="width:500px">
Dear $userName,
<p>
User <b>$ulogin</b> ($uname) unshared $appName project
<p>
<b>[$project_id] <i>$project_title</i></b>
<p>
on CCP4 Cloud at <b>$appURL</b>
<p>
with you.
<p>
You no longer have access to this project and may delete it from your
<i>Project List</i> (use <i>"Delete"</i> button on top of the List).
<p>
Please do not reply to this e-mail, because it was sent from
unmanned mailbox.
<p>
Have a nice day.
<p>
Technical questions and bug reports: $maintainerEmail .
</div>
