<div style="width:500px">
Dear $userName,
<p>
Your project <b>$projectName</b> "<i>$projectTitle</i>", developed in $appName at
<b>$appURL</b>, was successfully archived. Please take notice of the following
Archive ID:<p>
<b>$archiveID</b>
</p><p>
which can be used for referencing your project in publications and similar
purposes.
<p>Thank you for archiving with $appName .
</p><p>
Please do not reply to this e-mail, because it was sent from unmanned mailbox.
Contact your $appName maintainer if you have any questions regarding
the content of this e-mail.
<p>
Sincerely yours,
<p>
$appName management.<br>
$maintainerEmail
</div>
