<div style="width:500px">
Dear $userName,
<p>
User <b>$ulogin</b> ($uname) changed your access level for $appName project,
previously shared with you:
<p>
<b>[$project_id]: <i>$project_title</i></b>
<p>
from <b>"[$old_permissions]"</b> to <b>"[$old_permissions]"</b>.
<p>
Please do not reply to this e-mail, because it was sent from
unmanned mailbox.
<p>
Have a nice day.
<p>
Technical questions and bug reports: $maintainerEmail .
</div>
