<div style="width:500px">
Dear $userName,
<p>
Archiving your project <b>$projectName</b> "<i>$projectTitle</i>", developed in
$appName at <b>$appURL</b>, has failed with error code <b>$failcode</b>.
The project is intact in the same location as before.
</p>
<p>This failure may be due to intermittent effects or bug(s) in the $appName and
you may wish to inform $appName maintainer of this incident. Many apologies
for any inconvenience this may have caused.
</p><p>
Please do not reply to this e-mail, because it was sent from unmanned mailbox.
Contact your $appName maintainer if you have any questions regarding
the content of this e-mail.
<p>
Sincerely yours,
<p>
$appName management.<br>
$maintainerEmail
</div>
