<div style="width:500px">
Dear $userName,
<p>
You were chosen as a successor of user $retLogin. Their disk quota and projects
have been transferred over to you. You are now the owner (but not author)
of their projects, which are found in folder "$folder_name" of your $appName account:
<p>
$appName URL: <b>$appURL</b><br>
Login name: <b>$userLogin</b><br>
E-mail: <b>$userEMail</b>
<p>
The operation was completed with the following result:
<p>
<b>$message</b>
<p>
Please do not reply to this e-mail, because it was sent from unmanned mailbox.
Contact your $appName maintainer if you have any questions regarding
the content of this e-mail.
<p>
Sincerely yours,
<p>
$appName management.<br>
$maintainerEmail
</div>
