
/*
 *  =================================================================
 *
 *    02.11.19   <--  Date of Last Modification.
 *                   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  -----------------------------------------------------------------
 *
 *  **** Module  :  css/gui/gui.widgets.css
 *       ~~~~~~~~~
 *  **** Project :  jsCoFE - javascript-based Cloud Front End
 *       ~~~~~~~~~
 *  **** Content :  GUI Widgets Style Sheets
 *       ~~~~~~~~~
 *
 *  (C) E. Krissinel, A. Lebedev 2016-2019
 *
 *  =================================================================
 *
 */


body {
  font-family : "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
  font-size   : 16px;
}

/* grid-layout defines a grid to lay widgets in,
   spanning all width of the grid holder */

.grid-layout {
  width          : 100%;
  height         : auto;
  font-size      : 16px;
  table-layout   : auto;
  border         : 0px ;
  margin-top     : 0px ;
  padding-top    : 0px ;
  margin-bottom  : 0px ;
  padding-bottom : 0px ;
}
.grid-layout td {
  font-size      : 16px;
  vertical-align : top ;
  margin-top     : 0px ;
  padding-top    : 1px ;
  margin-bottom  : 0px ;
  padding-bottom : 0px ;
}

/* grid-layout-full defines a grid to lay widgets in,
   spanning all width and height of the grid holder */

.grid-layout-full {
  width          : 100%;
  height         : 98vh;
  font-size      : 16px;
  table-layout   : auto;
  border         : 0px ;
  margin-top     : 0px ;
  padding-top    : 0px ;
  margin-bottom  : 0px ;
  padding-bottom : 0px ;
}
.grid-layout-full td {
  font-size      : 16px;
  vertical-align : top ;
  margin-top     : 0px ;
  padding-top    : 1px ;
  margin-bottom  : 0px ;
  padding-bottom : 0px ;
}

/* grid-layout-compact defines a grid to lay widgets in,
   taking as much as necessary width in the left-hand
   side part if the grid holder */

.grid-layout-compact {
  width          : auto;
  height         : auto;
  font-size      : 16px;
  table-layout   : auto;
  border         : 0px ;
  margin-top     : 0px ;
  padding-top    : 0px ;
  margin-bottom  : 0px ;
  padding-bottom : 0px ;
}
.grid-layout-compact td {
  font-size      : 16px;
  vertical-align : top ;
  margin-top     : 0px ;
  margin-bottom  : 0px ;
  padding-top    : 1px ;
  padding-bottom : 0px ;
  padding-left   : 0px ;
  padding-right  : 8px ;
}


.toolbar {
    width     : 100%;
    font-size : 16px;
    padding   : 4px;
    /*    display: inline-block; */
}
/* support: IE7
*+html .toolbar {
    display: inline;
}
*/


.combobox-overflow { height: 100px; }

/*
.ui-selectmenu-button {
    vertical-align : middle;
}
*/

.ui-dialog .ui-dialog-titlebar {
  height: 16px; /* height of title bar */
}
