/*
 *  ==========================================================================
 *
 *    15.05.21   <--  Date of Last Modification.
 *                   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  --------------------------------------------------------------------------
 *
 *  **** Module  :  css/gui/gui.tree.css
 *       ~~~~~~~~~
 *  **** Project :  jsCoFE - javascript-powered Cloud Front End
 *       ~~~~~~~~~
 *  **** Content :  Tree Widget Stylesheet
 *       ~~~~~~~~~
 *
 *  (C) E. Krissinel, A. Lebedev 2016-2021
 *
 *  ==========================================================================
 *
 *   URL:  https://www.jstree.com
 *
 */


.toolbox-content {
/*    background-color: rgba(255,255,255,0.35); */
    overflow: auto;
    padding : 0px;
/*   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

.tree-content {
/*    background-color: rgba(255,255,255,0.35); */
    overflow: auto;
    padding : 0px;
/*   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

.vakata-context { z-index: 200; }  /* this is for context menu to be "always" on top */

.vakata-context > li > a {
  height : 30px;
  padding-bottom: 4px;
}

.vakata-context > li > a > i {
  background-size: 24px 24px !important;
}


.jstree-leaf {
 font-size: 16px;
 height: 28px;
}

/*
.jstree-leaf a.jstree-hovered {
 height: 30px;
}

.jstree-leaf a.jstree-clicked {
 height: 30px;
}
*/

/* .context-menu-item{font-family:Times New Roman;line-height:12px;}

.tree-default-context {
    line-height:16px;
}
*/

/*
.vakata-context-hover > a > i {
    background-size: 24px 24px !important;
}
*/

.toolbar-content {
    background-color: rgba(127,127,127,0.5);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.jstree-themeicon-custom { background-size: 24px 24px !important; }
